@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
body {
	font-family: "Noto Sans TC", sans-serif;
}

.container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
header h1 {
    color: #000000;
    text-align: center;
    font-size: 45px;
}
nav  {
    text-align: center;
}
nav a:link  {
    font-size: medium;
    color: #000000;
    text-decoration: none;
}
nav a:hover {
    color: #EA0002;
    text-decoration: underline;
}
.heroimg {
    height: 450px;
    background-color: #C57374;
    background-image: url(images.jpg);
    background-position: 0px -96px;
    background-size: cover;
    border-radius: 20px;
}
article h2 {
    background-color: #CCE887;
    font-size: 30px;
    border-bottom-left-radius: 52px;
    border-top-right-radius: 52px;
}
footer {
    text-decoration: underline;
    text-align: center;
}
